.places__like {
  background-image: url('../../../images/ic_favorite.svg');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  border: 0;
  position: absolute;
  top: 313px;
  right: 20px;
  z-index: 2;
  transition: opacity 1s;
  cursor: pointer;
}

.places__like:hover {
  opacity: 0.8;
}




