.popup__elements {
  width: 510px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

@media screen and (max-width: 425px) {
  .popup__elements {
    max-width: 282px;
    padding: 19px;
    gap: 16px;
  }
}
