.popup__container_type_pic {
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 0;
  background: none;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
