.popup__container {
  max-width: min(100%, 430px);
  padding: 34px 36px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 520px) {
  .popup__container {
    max-width: min(100%, 520px);
    padding: 25px 22px;
  }
}
