.popup__container {
  max-width: min(100%, 430px);
  margin: auto;
  padding: 34px 36px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 425px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
