.profile__about {
  padding: 20px 0 0;
  max-width: min(100%, 336px);
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 12px;
}

@media screen and (max-width: 550px) {
  .profile__about {
    padding: 30px 0 0;
  }
}

@media screen and (max-width: 460px) {
  .profile__about {
    padding: 0;
    max-width: min(100%, 282px);
    text-align: center;
    align-items: center;
    gap: 14px;
  }
}
