.profile__about {
  max-width: 336px;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .profile__about {
    max-width: min(66%, 768px);
    justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .profile__about {
    max-width: min(100%, 550px);
    text-align: center;
    align-items: center;
    gap: 14px;
  }
}
