.popup__button {
  width: 358px;
  height: 50px;
  font-size: 18px;
  letter-spacing: 1.2;
  font-weight: 400;
  border: 0;
  margin-top: 48px;
  cursor: pointer;
  transition: 0.4s;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 2px;
}

.popup__button:hover {
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 520px) {
  .popup__button {
    max-width: 238px;
    height: 46px;
    font-size: 14px;
    letter-spacing: 1.1;
    margin-top: 45px;
  }
}
