.place__favorite {
  padding-top: 6px;
  max-width: 24px;
  width: 100%;
  background-image: url(../../../images/ic_favorite.svg);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  transition: 0.4s;
  background-color: transparent;
  border: none;
  font-size: 0;
}

.place__favorite:hover {
  opacity: 0.5;
  transition: 0.6s;
}

.place__favorite:active {
  background-image: url(../../../images/ic_favorite_fill.svg);
  opacity: 1;
}
